<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562762536560-vftdt0cuj2jqu1oj59395t6hj4m7mp38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562762536560-vftdt0cuj2jqu1oj59395t6hj4m7mp38</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>562762536560-rslrcm6tadlfo4dk5e6rv2524c18rv4p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8-GcpuC_Vgu1jHuPoby98GiOBWxU-8Qw</string>
	<key>GCM_SENDER_ID</key>
	<string>562762536560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barber.ivanios</string>
	<key>PROJECT_ID</key>
	<string>ivan-fashion</string>
	<key>STORAGE_BUCKET</key>
	<string>ivan-fashion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562762536560:ios:a75d0d76bcb9daf4d306b5</string>
	<key>DATABASE_URL</key>
	<string>https://ivan-fashion.firebaseio.com</string>
</dict>
</plist>