<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ivan.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DD05245EAFFA6A6725931EC72D26A4AF7DF2128F</string>
				<key>dateExpires</key>
				<string>04.02.2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD05245EAFFA6A6725931EC72D26A4AF7DF2128F</string>
						<key>dateExpires</key>
						<string>04.02.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JPPJNWS5G6</string>
						<key>name</key>
						<string>Ivan Morel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD05245EAFFA6A6725931EC72D26A4AF7DF2128F</string>
						<key>dateExpires</key>
						<string>04.02.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JPPJNWS5G6</string>
						<key>name</key>
						<string>Ivan Morel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD05245EAFFA6A6725931EC72D26A4AF7DF2128F</string>
						<key>dateExpires</key>
						<string>04.02.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JPPJNWS5G6</string>
						<key>name</key>
						<string>Ivan Morel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD05245EAFFA6A6725931EC72D26A4AF7DF2128F</string>
						<key>dateExpires</key>
						<string>04.02.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KeyboardAvoidingView.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JPPJNWS5G6</string>
						<key>name</key>
						<string>Ivan Morel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD05245EAFFA6A6725931EC72D26A4AF7DF2128F</string>
						<key>dateExpires</key>
						<string>04.02.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SinchVerification.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JPPJNWS5G6</string>
						<key>name</key>
						<string>Ivan Morel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD05245EAFFA6A6725931EC72D26A4AF7DF2128F</string>
						<key>dateExpires</key>
						<string>04.02.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftToast.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JPPJNWS5G6</string>
						<key>name</key>
						<string>Ivan Morel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD05245EAFFA6A6725931EC72D26A4AF7DF2128F</string>
						<key>dateExpires</key>
						<string>04.02.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ViewState.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JPPJNWS5G6</string>
						<key>name</key>
						<string>Ivan Morel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD05245EAFFA6A6725931EC72D26A4AF7DF2128F</string>
						<key>dateExpires</key>
						<string>04.02.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JPPJNWS5G6</string>
						<key>name</key>
						<string>Ivan Morel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD05245EAFFA6A6725931EC72D26A4AF7DF2128F</string>
						<key>dateExpires</key>
						<string>04.02.2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JPPJNWS5G6</string>
						<key>name</key>
						<string>Ivan Morel</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JPPJNWS5G6.com.barber.ivanios</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>JPPJNWS5G6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>EZCutz by Ivan.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6c30572e-326f-437f-9a68-7c08378552ce</string>
				<key>name</key>
				<string>diprovisioningprofile</string>
			</dict>
			<key>symbols</key>
			<false/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JPPJNWS5G6</string>
				<key>name</key>
				<string>Ivan Morel</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
